 
 <!-- Navigation-->
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/#page-top">Erasmus Cost</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/#projects">Project</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                <% if(loggedin){%>
                    <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                    <%if(user.name){%>
                    <li class="nav-item"><a class="nav-link" href="/user_panel">User Panel</a></li>
                    <%}%>
                <% }else{%>
                    <li class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

